<!DOCTYPE html>
<html>
<head lang="it">
    <meta charset="UTF-8">
    <title>project</title>
    <link href="/public/stylesheets/style.css" type="text/css">
</head>
<body>

<div>
    Ciao Mondo!
</div>

</body>
</html>